.portfolio-area{
    color: #B5D7CD;
    margin-top: 172px;
    margin-bottom: 500px;
    .portfolio-title{
        font-family: Antonio;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        margin-bottom: 64px;
    }
    img{
        max-height: 200px;
        
        margin-left: 32px;
        margin-right: 32px;
    }
    

}


.portfolio-area::before{
    content: "";
    position: absolute;
    top: 2132px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(24, 83, 85, 0.8) url('../../assets/img/binarios.png');
}

@media screen and (max-width: 426px) {
    .portfolio-area{
        display: none;
    }
}
