.skills-area{
    margin-top: 164px;
    margin-bottom: 164px;
    padding-top: 72px;
    padding-bottom: 72px;
    .skills-title{
        font-family: Antonio;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        margin-bottom: 64px;
    }
       

}

@media screen and (max-width: 768px) {
 .skills-area{
  margin-top: 0;
 }
 .wrapper {
  display: block;
  width: 90%;
	max-width: 900px;
	margin: auto;
	text-align: center;
}
.badge {
	margin: 14px;
	width: 80px;
	height: 80px;

}
.rounded {
  width: 64px;
	height: 64px;
  margin: 6px 6px;
  
  svg {
    font-size: 3.5em;
		margin-top: 10px;
  }
}
  
}
@media screen and (max-width: 426px) {

  .skills-area{
    margin-top: 64px;
    .skills-title{
      margin-bottom: 32px;
    }
    .carousel{
      display: none;
    }
    .badge {
      margin: 14px;
      width: 80px;
      height: 80px;
    
    }
    
    .rounded {
      width: 64px;
      height: 64px;
      margin: 6px 6px;
      
      svg {
        font-size: 3.5em;
        margin-top: 10px;
      }
    }
  }
  
}

.wrapper {
  display: block;

	max-width: 900px;
	margin: auto;
	text-align: center;
}

/* Badge */
.badge {
	margin: 16px;
	width: 112px;
	height: 112px;
	border-radius: 20%;
	display: inline-block;
	top: 0;
	transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
}

.rounded {
  width: 88px;
	height: 88px;
  background: white;
  position: absolute;
  margin: 8px 8px;
  z-index: 10;
	border-radius: 8px!important;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
  
  svg {
    font-size: 4.8em;
		margin-top: 10px;
  }
}

/* Colors */
.blue {
    background: dodgerblue;
    color: deepskyblue;
}

.orange {
  background: darkorange;
  color: orange;
}

.gold {
  background: gold;
  color: rgb(240, 208, 25);
}

.red {
  background: red;
  color: red;
}

.purple {
  background: mediumpurple;
  color: slategray;
}

.green {
  background: yellowgreen;
  color: darkslategray;
}

.crimson {
  background: crimson;
  color: firebrick;
}

.steel {
  background: steelblue;
  color: steelblue;
}

.pink {
  background: hotpink;
  color: palevioletred;
}

.rebecca {
  background: rebeccapurple;
  color: rebeccapurple;
}

.gainsboro {
  background: gainsboro;
  color: orangered;
}