.banner-area {
    height: 90vh;
    padding-top: 64px;
    .banner-text-area{
        
        margin-left: 48px;
        .banner-title {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 24px;
            letter-spacing: 0.01em;
        }
        .banner-name{
            font-family: Antonio;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            letter-spacing: 0.05em;
        }
        .banner-text{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.05em;

        }
        .banner-curriculum{
            border: 2px solid var(--color-text);
            box-sizing: border-box;
            border-radius: 8px;
            width: 300px;
            height: 50px;
            margin-top: 24px;
            background: transparent;
            z-index: 2;
            .curriculum-text{
                font-family: Montserrat;
                font-weight: normal;
                font-size: 24px;
                margin-bottom: 0;
                color: var(--color-text);
                text-align: center;
                letter-spacing: 0.05em;
               
            }
          &:hover{
              background: rgba(255,255, 255, 0.35);
          }
        }

    }
}
.banner-area::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 755px;
    opacity: .7;
}

@media screen and (max-width: 426px){
.banner-area{
    height: 40vh;
    .banner-text-area{
        .banner-title{
            font-size: 14px;
            width: 120px;
        }
        .banner-name{
            font-size: 18px;
            width: 120px;
        }
        .banner-text{
            font-size: 12px;
            line-height: 16px;
            width: 124px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .banner-curriculum{
            width: 120px;
            height: 32px;
            margin-top: 8px;
            .curriculum-text{
                line-height: 18px;
                font-size: 12px;
            }
        }
    } 
}
.banner-area::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    opacity: .7;
}

    
    
}
